@import url('https://fontlibrary.org/face/minecraftia');

* {
    box-sizing: border-box;
    margin: 0;
}

.minecraft {
    font-family: "MinecraftiaRegular", sans-serif;
}

.textstuff{
    font-family: Arial, sans-serif;
    font-size: 5;
}

.title {
    margin: 20px;
}
