@import url('https://fontlibrary.org/face/minecraftia');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
}

.minecraft {
    font-family: "MinecraftiaRegular", sans-serif;
}

.title {
    margin: 20px;
}

.textstuff{
    font-family: Arial, sans-serif;
    font-size: 5;
}

.footer{
    text-align: center;
    font-family: 'Roboto', sans-serif;
    vertical-align: bottom;
    background-image: url('https://i.imgur.com/HBQ9dMP.jpg');
}
